body{
    width: 100%;
    height: 100vh;
    background-color: #8C0E03;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: #8C0E03;
    display: flex;
    position: relative;
}

.menu {
    width: 80%;
    display: flex;
    padding-right: 25rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.menu h1 {
    font-size: 6.9vw;
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
}

.menu div {
    width: 17%;
    height: 5%;
    margin-top: 3%;
    padding: 2%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu div:hover {
    width: 19%;
    transition: 5ms;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.menu div a {
    font-family: 'Montserrat';
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
}

.cantante {
    max-width: 26.3%;
    height: 94.5%;
    object-fit: scale-down;
    margin-top: 3.6%;
    margin-left: 91%;
    position: absolute;
}

.logo {
    width: 25%;
    margin-top: 2%;
}

.barra:hover ul>li {
    width: 100%;
    transition: 1s;
    font-size: 1.5rem;
}

.barra {
    max-width: 100%;
    width: 32rem;
    height: 40%;
}

.linea {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}
.linea div {
    width: 100%;
    height: 1rem;
    background-color: #fff;
}
.elements {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}
.elements li {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff;
    list-style: none;
    font-size: 0rem;
    cursor: pointer;
}

.elements li a{
    text-decoration: none;
    color: #fff;
}

.elements li a:hover {
    height: max-content;
    color: #808080;
}

.elements li:active {
    cursor: grabbing;
}

.redes {
    width: 50%;
    height: max-content;
    display: none;
    justify-content: space-around;
    position: absolute;
    top: 97%;
    font-size: 1vw;
}

.redes a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.redes a:active {
    cursor: grabbing;
}

.vercontactos {
    display: flex;

}
