.background{
    flex-direction: column;
}


.carrusel::-webkit-scrollbar {
    -webkit-appearance: none;
}

.carrusel{
    width: 40%;
    margin: 2%;
    margin-left: 31%;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    overflow-x: scroll;
    padding: 3%;
    scroll-snap-type: x mandatory;
    scroll-padding: 2%;    
}

.carrusel div{
    width: max-content;
    display: flex;
    justify-content: space-around;
    margin: 1%;
    flex: 0 0 80%;
    scroll-snap-align: start;
}

.carrusel div img{
    width: max-content;
    height: 100%;
    object-fit: scale-down;
}

.frase{
    width: 100%;
    margin-bottom: 5%;
    height: max-content;
    text-align: center;
    color: #fff;
    font-size: 3vw;
}